<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="PronuntiApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity
            android:name="views.activity.EntryActivity"
            android:exported="true"
            android:theme="@style/Theme.PronuntiAppNoActionBar"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="views.activity.AutenticazioneActivity"
            android:theme="@style/Theme.PronuntiAppNoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable" />

        <activity
            android:name="views.activity.LogopedistaActivity"
            android:theme="@style/Theme.PronuntiAppActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable" />

        <activity
            android:name="views.activity.GenitoreActivity"
            android:theme="@style/Theme.PronuntiAppActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable" />

        <activity
            android:name="views.activity.PazienteActivity"
            android:theme="@style/Theme.PronuntiAppActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="Instantiatable" />
    
    </application>

</manifest>